<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1c6b64eb96.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/menu.css" />
    <!-- <link rel="stylesheet" href="../public/css/shop.css" /> -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../public/images/Favicon/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../public/images/Favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/Favicon/favicon-16x16.png" />
    <link rel="manifest" href="../public/images/Favicon/site.webmanifest" />

    <title>EastBengal Ultras | Bangal Brigade</title>
</head>

<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/order">Shop</a></li>
                        <li><a href="/blog">Blogs</a></li>
                        <li><a href="/shop">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>