<%- include('partials/header') -%>




<header id="showcase-order">
    <!-- <div class="logo" style="text-align: center">
        <a href="home.html"><img class="logo-img" src="../public/images/Logo.png" alt="Logo" /></a>
    </div> -->
    <div class="container">
        <div class="showcase-container">
            <div class="showcase-content">
            </div>
        </div>
    </div>
</header>

<section id="order-items">
    <div class="container">
        <div class="order-items">
            <div class="card" style="width: 18rem; height: 35rem;">
                <img class="card-img-top" src="../public/images/Merch/TSHIRT2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ultras T-Shirt</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <form>
                        <script src="https://checkout.razorpay.com/v1/payment-button.js"
                            data-payment_button_id="pl_FdiBiWLZxInI4X"> </script>
                    </form>
                </div>
            </div>
            <div class="card" style="width: 18rem; height: 35rem;">
                <img class="card-img-top" src="../public/images/Merch/CAPA1B.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ultras Cap</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <form>
                        <script src="https://checkout.razorpay.com/v1/payment-button.js"
                            data-payment_button_id="pl_Fdg1DYQQpAtNdN"> </script>
                    </form>
                </div>
            </div>
            <div class="card" style="width: 18rem; height: 35rem;">
                <img class="card-img-top" src="../public/images/Merch/scarf1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ultras Scarf</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <form>
                        <script src="https://checkout.razorpay.com/v1/payment-button.js"
                            data-payment_button_id="pl_Fdg2g8Bp8Btgcz"> </script>
                    </form>
                </div>
            </div>
            <div class="card" style="width: 18rem; height: 35rem;">
                <img class="card-img-top" src="../public/images/Merch/WhatsApp Image 2019-08-30 at 4.01.33 PM (1).jpeg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ultras Scarf</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="https://rzp.io/l/Pwd9B6L" target="_" class="btn btn-primary">Buy Now</a>
                </div>
            </div>
        </div>
    </div>

</section>



<%- include('partials/footer') -%>