<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/1c6b64eb96.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <link rel="stylesheet" href="../public/css/menu.css" />
    <link rel="stylesheet" href="../public/css/shop.css" />

    <!-- Font-Awesome -->
    <!-- <script src="https://use.fontawesome.com/69e1594105.js"></script> -->

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../public/images/Favicon/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../public/images/Favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/Favicon/favicon-16x16.png" />
    <link rel="manifest" href="../public/images/Favicon/site.webmanifest" />

    <title>EastBengal Ultras | Bangal Brigade</title>
</head>

<body>
    <div class="menu-wrap">
        <input type="checkbox" class="toggler" />
        <div class="hamburger">
            <div></div>
        </div>
        <div class="menu">
            <div>
                <div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/order">Shop</a></li>
                        <li><a href="/shop">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="logo" style="text-align: center">
            <a href="/"><img class="logo-img" src="../public/images/Logo.png" alt="Logo" /></a>
        </div>
        <!-- <h1 class="brand"><span>EastBengal</span> Ultras Store</h1> -->
        <div class="wrapper animated bounceInLeft" style="margin-top: 2rem;">
            <div class="company-info">
                <h3 class="brand"><span>EastBengal</span> Ultras Store Contact</h3>
                <ul>
                    <li><i class="fa fa-envelope"></i> ebultras@gmail.com</li>
                    <li><i class="fa fa-phone"></i> 999999999</li>
                    <!-- <li><i class="fa fa-envelope"></i> test@ul.test</li> -->
                </ul>
            </div>
            <div class="contact">
                <h3>Email Us</h3>
                <!-- {{msg}} -->
                <form method="POST" action="send">
                    <p>
                        <label>Name</label>
                        <input type="text" required name="name">
                    </p>
                    <!-- <p>
                        <label>Address</label>
                        <input type="text" required name="address">
                        <small>Kindly Provide Correct Address</small>
                    </p> -->
                    <p>
                        <label>Email Address</label>
                        <input type="email" required name="email">
                    </p>
                    <p>
                        <label>Phone Number</label>
                        <input type="text" required name="phone">
                    </p>
                    <p class="full">
                        <label>Message</label>
                        <textarea name="message" required rows="5"></textarea>
                    </p>
                    <p class="full">
                        <!-- <button type="submit">Submit</button> -->
                    </p>
                </form>
            </div>
        </div>
    </div>